.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: 0 0 0 0 !important;
  height: 130px !important;
  background-color: rgb(255, 255, 255) !important;
}
.MuiToolbar-root {
  color: black !important;
  border: none !important;
}

.btn {
  position: absolute !important;
  margin-left: 10px !important;
}

.appbar {
  font-size: 2.5rem !important;
  z-index: 2;
}
.appbar:hover {
  font-size: 2.5rem !important;
}
.form-search {
  padding-right: 5rem !important;
}
