.container-fluid {
  /* position: relative!important; */
  top: 3rem !important;
  margin-right: 2.2rem !important;
}

.form-control {
  position: relative;
  top: 2rem;
}

.name-nav {
  font-size: xx-large !important;
}

.buton {
  position: relative;
  left: 13rem;
  bottom: 6px;
  /* margin: 10px !important; */
  border-color: aliceblue;
  margin-bottom: 1rem !important;
}
