.container {
  /* text-align: center; */
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: x-large;
  background-color: rgb(60, 59, 59);
  color: white;
  border-radius: 20px;
}
.headline {
  text-align: center;
}
.images {
  border-radius: 8px;
  width: 400px;
}
