.navbar {
  display: flex !important;
  justify-content: center !important;
  padding-left: 1rem;
  margin-left: 15rem !important;
  margin-right: 15rem !important;
  box-shadow: 0px 0.5px 0px rgb(73, 71, 71);
}
a {
  /* color: rgb(77, 75, 75) !important; */
  text-decoration: none !important;
  font-size: 1.3rem !important;
  padding: 1rem !important;
}
.nav-item {
  /* margin-left: 5rem; */
  margin-right: 15rem;
  font-size: large !important;
}
.nav-item:hover {
  color: rgb(186, 48, 48) !important;
  font-size: large !important;
  transform: translate(3s);
  transition: ease-in-out;
}
/* .nav-item:active {
  color: rgb(186, 48, 48);
  transform: translate(2s);
  border-radius: 13px;
  border: 1px solid rgb(85, 68, 68);
} */

/* .nav-item:link {
  color: red;
  border-bottom: 1px solid gray;
} */
