.site-section {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  margin-left: 25rem;
  font-size: medium;
  top: 1rem;
}
/* .underline{
margin-right: 55rem;
} */
/* .links:hover {
  font-size: medium;
  color: blue;
} */
.posthead {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 15rem;
  font-size: xx-large;
  margin-top: 5rem;
}
.custom-select {
  margin-left: 15rem;
  margin-bottom: 1rem;
}

.headline {
  margin-top: 5rem;
}
