.site-section {
  position: relative;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  margin-left: 33rem;
  font-size: medium;
  bottom: 20rem;
  /* margin-top: -10rem; */
}

.posthead {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 17rem;
  font-size: xx-large;
  margin-top: 5rem;
  top: 4rem;
}
.custom-control {
  /* top: 20rem; */
  position: relative;
  /* margin-left: 15rem; */
  margin-bottom: 1rem;
}

.headline {
  margin-top: 5rem;
}

.cstm-crl {
  padding-top: 1.3rem;
  width: 200px;
  margin-top: 5rem;
  margin-left: 15.8rem;
  padding-left: 1.2rem;
}
.minimge {
  position: relative;
  width: 380px;
  top: 5rem;
  border-radius: 12px;
  box-shadow: 2px 2px 9px 3px whitesmoke;
  /* display: flex;
  flex-wrap: wrap; */
}
.new-desc {
  position: relative;
  color: white;
  margin-left: 26rem;
  bottom: 7rem;
  /* display: flex;
  flex-wrap: wrap; */
}
