form {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  margin: 3rem !important;
  margin-left: 25rem !important;
  width: 400px !important;
  /* padding-left: 2rem !important; */
  position: relative !important;
  justify-content: center !important;
  font-size: medium !important;
}
.formlabel {
  margin-right: 10px !important;
  border-radius: 20px !important;
  font-size: large !important;
  background-color: none !important;
  /* margin-left: 20px !important; */
}
.form-control {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem !important;
  padding-right: 5rem !important;
  margin-right: 50px !important;
  margin-bottom: 20px !important;
  border-bottom-color: 1px rgb(56, 54, 54) !important;
  border-radius: 30px !important;
  font-size: medium !important;
}

.btn-dark {
  position: absolute !important;
  /* margin-top: 1rem !important; */
  margin-left: 13rem !important;
  width: 50px !important;
  /* top: 0.5rem !important; */
  padding: 0.3rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  color: #ccc !important;
  background-color: black !important;
  border-radius: 2rem !important;
}

.btn-dark:hover {
  background-color: rgb(51, 50, 50);
}
.input-group-text {
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
}

.buton-submt {
  top: 18rem;
}
