form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem;
  margin-left: 25rem;
  width: 400px;
  padding-left: 20rem;
  position: relative;
  justify-content: center;
  font-size: medium;
}
.formlabel {
  margin-right: 10px;
  border-radius: 20px;
  font-size: large;
}
.form-control {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6rem;
  padding-right: 7rem;
  margin-right: 40px;
  margin-bottom: 20px;
  border-bottom-color: 1px rgb(56, 54, 54);
  border-radius: 30px;
  font-size: medium;
}

.btn-success {
  position: absolute;
  margin-top: 7rem;
  margin-left: 10.1rem;
  width: 200px;
  top: 10rem;
  padding: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 99;
  color: #ccc;
  background-color: black;
  border-radius: 2rem;
}

.btn-success:hover {
  background-color: rgb(51, 50, 50);
}
