.imagesurl {
  width: 600px !important;
  border-radius: 35px;
  /* margin-left: rem; */
}

.postheader {
  position: relative;
  margin-bottom: 2rem;
  margin-left: 15rem;
  font-size: xx-large;
  margin-top: 5rem;
}

.contant {
  position: relative;
  top: 2rem;
  bottom: 0.2rem;
}
