.carousel-item {
  max-height: calc(100vh - 270px);
  width: auto;
}

.carousel-item h3 {
  color: rgb(255, 0, 0);
  font-size: 2rem;
  /* font-weight: 4rem; */
  text-shadow: 3px 3px 3px black;
}

.carousel-item p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}

.carousel-item .btn {
  width: 7rem;
  margin-bottom: 1rem;
}
.carousel-indicators button {
  background-color: rgb(255, 248, 248) !important;
  height: 0.4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
}
.carousel-caption {
  bottom: 5rem;
}
